:root {
    --bg-color: #4271b5;
    --fg-color: white;
    --dark-fg: gray;
    --header-color: #fffb63;
    --shadow: 3px 1px 0 #425152;
    --grad-end: #f7a263;
    --image-size: 800px;
    --box: #101010;
    --pink-1: #f792a5;
    --pink-2: #f7b2b5;
    --name-color: #e0c028;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}