:root {
    --bg-color: #4271b5;
    --fg-color: white;
    --dark-fg: gray;
    --header-color: #fffb63;
    --shadow: 3px 1px 0 #425152;
    --grad-end: #f7a263;
    --image-size: 800px;
    --box: #101010;
    --pink-1: #f792a5;
    --pink-2: #f7b2b5;
    --name-color: #e0c028;
    --mario-width: 300px;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

header {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

#heading {
    background-color: black;
    border: 5px solid white;
    border-radius: 20px;
}

#heading h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    background: linear-gradient(var(--header-color), var(--grad-end));
    background-clip: text;
    color: transparent;
}

#arrowRow {
    margin-top: 5px;
}

#arrow {
    justify-content: center;
    width: 70px;
}

.box {
    background-color: var(--box);
    padding: 20px;
}

main {
    margin: 20px;
}

.boxHeading {
    border-bottom: 2px solid white;
}

#hero img {
    width: var(--mario-width);
    position: relative;
    left: calc(64 * (var(--mario-width) / 670));
}

.homeLink {
    text-align: center;
    font-size: x-large;
}

.link {
    text-transform: uppercase;
    background: linear-gradient(180deg, var(--pink-1), var(--pink-2));
    background-clip: text;
    color: transparent;
    padding: 2px;
}

.link:hover {
    border-bottom: 2px solid var(--pink-1);
}

i {
    margin-right: 5px;
}

.project {
    margin-top: 20px;
    margin-bottom: 20px;
}

.projImg {
    display: inline;
    margin-bottom: 20px;
    box-shadow: #00000076 0px 10px;
}

.projBox {
    text-align: center;
}

.projBox h4 {
    padding-bottom: 5px;
}

@media screen and (max-width: 540px) {
    #heading {
        width: 250px;
    }
}

@media screen and (min-width: 540px) and (max-width: 912px) {
    #heading {
        width: 300px;
    }
}

@media screen and (min-width: 912px) {
    #heading {
        width: 350px;
    }
}

@media screen and (max-width: 390px) {
    :root {
        --mario-width: 230px;
    }
}